.keyboard {
  margin-top: 33px;
  margin-bottom: 33px;
  display: grid;
  grid-template-areas:
    'one two three'
    'four five six'
    'seven eight nine'
    'delete delete null';
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  & > div {
    height: 52px;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    border: 2px solid #000;
    text-align: center;
    align-items: center;
    background-color: transparent;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
