.main {
  &__success {
    text-align: center;
    display: flex;
    align-items: center;

    &--center {
      padding: 48px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    margin: 0;
    font-size: 26px;
    font-weight: 400;
  }

  &__telephone {
    font-size: 32px;
    font-weight: 700;
    margin: 13px 0;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }
}
