.main {
  &__success {
    text-align: center;
    display: flex;
    align-items: center;

    &--center {
      padding: 48px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    margin: 0;
    font-size: 26px;
    font-weight: 400;
  }

  &__telephone {
    font-size: 32px;
    font-weight: 700;
    margin: 13px;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }

  &__keyboard {
    margin-top: 33px;
    margin-bottom: 33px;
    display: grid;
    grid-template-areas:
      'one two three'
      'four five six'
      'seven eight nine'
      'delete delete null';
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    & > div {
      height: 52px;
      display: flex;
      justify-content: center;
      padding: 0 30px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      color: #000;
      text-transform: uppercase;
      border: 2px solid #000;
      text-align: center;
      align-items: center;
      background-color: transparent;
      transition: color 0.2s ease-in, background-color 0.2s ease-in;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.agreement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__checkbox {
    border: 2px solid #000;
    min-width: 40px;
    min-height: 40px;
    margin: 10px;
    margin-right: 20px;
  }
  &__text {
    color: rgba(86, 86, 86, 1);
    text-align: left;
    font-size: 14px;
    font-weight: 400;
  }
}

#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#null {
  grid-area: null;
}
#delete {
  grid-area: delete;
}

.confirm {
  margin-top: 19px;
  &__btn {
    background: transparent;
    text-transform: uppercase;
    padding: 0;
    color: #4e4e4e;
    border: 1px solid #4e4e4e;
    width: 100%;
    line-height: 19px;
    padding: 16px 0;
    transition: all 0.2s ease-in;

    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.checkbox {
  padding: 0;
  width: 88px;
  height: 52px;
  position: relative;
  background-color: #fff;
  border: 2px solid #000000;
  transition: all 0.2s ease-in-out;

  &--lineSecond,
  &--lineFirst {
    transition: all 0.2s ease-in-out;
    width: 24px;
    position: absolute;
    height: 3px;
    background-color: #000;
  }
  &--lineFirst {
    transform: rotate(-45deg);
  }

  &--lineSecond {
    transform: rotate(45deg);
    width: 13px;
    top: 3.4px;
    left: 12px;
  }

  &__lines {
    position: relative;
    top: 17px;
    right: 8px;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }
}
